<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <BetterAutocastVPE.SettingsCategory>Better Autocasting for VPE</BetterAutocastVPE.SettingsCategory>
    <BetterAutocastVPE.AutocastIntervalDrafted>Drafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalDrafted>
    <BetterAutocastVPE.AutocastIntervalDrafted.Description>Autocasting interval while drafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalDrafted.Description>
    <BetterAutocastVPE.AutocastIntervalUndrafted>Undrafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalUndrafted>
    <BetterAutocastVPE.AutocastIntervalUndrafted.Description>Autocasting interval while undrafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalUndrafted.Description>
    <BetterAutocastVPE.MendHealthThreshold>Mend damage threshold: {0}</BetterAutocastVPE.MendHealthThreshold>
    <BetterAutocastVPE.MendHealthThreshold.Description>Maximum health for an item to be auto-targeted</BetterAutocastVPE.MendHealthThreshold.Description>
    <BetterAutocastVPE.MendPawns>Mend equipped gear</BetterAutocastVPE.MendPawns>
    <BetterAutocastVPE.MendInStockpile>Mend items in stockpiles</BetterAutocastVPE.MendInStockpile>
    <BetterAutocastVPE.MendInStorage>Mend items in storage (e.g. shelves)</BetterAutocastVPE.MendInStorage>
    <BetterAutocastVPE.EnchantInStockpile>Enchant items in stockpiles</BetterAutocastVPE.EnchantInStockpile>
    <BetterAutocastVPE.EnchantInStorage>Enchant items in storage (e.g. shelves)</BetterAutocastVPE.EnchantInStorage>
    <BetterAutocastVPE.CastDrafted>Cast while drafted</BetterAutocastVPE.CastDrafted>
    <BetterAutocastVPE.CastUndrafted>Cast while undrafted</BetterAutocastVPE.CastUndrafted>
    <BetterAutocastVPE.VPE_Mend.Explanation>Will look for damaged items in the order listed below.\n\nWhen looking for items in stockpiles, will only look in zones containing the word "mend".\nFor example: `Mending`, `mend`, `The First Amendment`</BetterAutocastVPE.VPE_Mend.Explanation>
    <BetterAutocastVPE.VPE_EnchantQuality.Explanation>Will look for enchantable items in the order listed below.\n\nWhen looking for items in stockpiles, will only look in zones containing the word "enchant".\nFor example: `Enchanting`, `enchant`, `The Enchantress of Florence`</BetterAutocastVPE.VPE_EnchantQuality.Explanation>
    <BetterAutocastVPE.VPE_AdrenalineRush.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_AdrenalineRush.Explanation>
    <BetterAutocastVPE.VPE_BladeFocus.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_BladeFocus.Explanation>
    <BetterAutocastVPE.VPE_ControlledFrenzy.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_ControlledFrenzy.Explanation>
    <BetterAutocastVPE.VPE_FiringFocus.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_FiringFocus.Explanation>
    <BetterAutocastVPE.VPE_GuidedShot.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_GuidedShot.Explanation>
    <BetterAutocastVPE.VPE_SpeedBoost.Explanation>Will autocast whenever the caster does not have the buff applied.</BetterAutocastVPE.VPE_SpeedBoost.Explanation>
    <BetterAutocastVPE.VPE_Eclipse.Explanation>Will autocast when there is no ongoing eclipse</BetterAutocastVPE.VPE_Eclipse.Explanation>
    <BetterAutocastVPE.VPE_Darkvision.Explanation>Will target self whenever the caster does not have the buff applied.\nOtherwise will target non-downed colonist without the buff in casting range.</BetterAutocastVPE.VPE_Darkvision.Explanation>
    <BetterAutocastVPE.VPE_PsychicGuidance.Explanation>Targets the closest non-downed colonist in range that doesn't have the Psychic Guidance buff.</BetterAutocastVPE.VPE_PsychicGuidance.Explanation>
    <BetterAutocastVPE.VPE_StealVitality.Explanation>Targets the pawn with highest psychic sensitivity in range, prioritizing by group in the order below.\nThat is, target prisoners first, if no prisoners are available, then target slaves, and so on.</BetterAutocastVPE.VPE_StealVitality.Explanation>
    <BetterAutocastVPE.StealVitalityFromPrisoners>Target prisoners</BetterAutocastVPE.StealVitalityFromPrisoners>
    <BetterAutocastVPE.StealVitalityFromSlaves>Target slaves</BetterAutocastVPE.StealVitalityFromSlaves>
    <BetterAutocastVPE.StealVitalityFromColonists>Target colonists</BetterAutocastVPE.StealVitalityFromColonists>
    <BetterAutocastVPE.StealVitalityFromVisitors>Target visitors</BetterAutocastVPE.StealVitalityFromVisitors>
    <BetterAutocastVPE.VPE_WordofJoy.Explanation>Targets the closest non-downed colonist in range without the Joyfuzz effect</BetterAutocastVPE.VPE_WordofJoy.Explanation>
    <BetterAutocastVPE.WordOfJoyMoodThreshold>Mood threshold: {0}</BetterAutocastVPE.WordOfJoyMoodThreshold>
    <BetterAutocastVPE.WordOfJoyMoodThreshold.Description>Maximum mood for a pawn to be auto-targeted</BetterAutocastVPE.WordOfJoyMoodThreshold.Description>
    <BetterAutocastVPE.VPE_WordofProductivity.Explanation>Targets a non-downed colonist in range that doesn't have the Productivity buff.</BetterAutocastVPE.VPE_WordofProductivity.Explanation>
    <BetterAutocastVPE.VPE_WordofSerenity.Explanation>Targets a pawn in range with an ongoing mental state.\nThis can target any pawn, including visitors and animals.</BetterAutocastVPE.VPE_WordofSerenity.Explanation>
    <BetterAutocastVPE.VPEP_BrainLeech.Explanation>Targets the closest pawn in range, prioritzing by group in the order below.\nThat is, target prisoners first, if no prisoners are available, then target slaves.</BetterAutocastVPE.VPEP_BrainLeech.Explanation>
    <BetterAutocastVPE.BrainLeechTargetPrisoners>Target prisoners</BetterAutocastVPE.BrainLeechTargetPrisoners>
    <BetterAutocastVPE.BrainLeechTargetSlaves>Target slaves</BetterAutocastVPE.BrainLeechTargetSlaves>
    <BetterAutocastVPE.VPE_Invisibility.Explanation>Will target self whenever the caster does not have the buff applied.\nOtherwise will target non-downed colonist without the buff in casting range.</BetterAutocastVPE.VPE_Invisibility.Explanation>
</LanguageData>