<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <BetterAutocastVPE.SettingsCategory>Better Autocasting for VPE</BetterAutocastVPE.SettingsCategory>
    <BetterAutocastVPE.AutocastIntervalDrafted>Drafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalDrafted>
    <BetterAutocastVPE.AutocastIntervalDrafted.Description>Autocasting interval while drafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalDrafted.Description>
    <BetterAutocastVPE.AutocastIntervalUndrafted>Undrafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalUndrafted>
    <BetterAutocastVPE.AutocastIntervalUndrafted.Description>Autocasting interval while undrafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalUndrafted.Description>
    <BetterAutocastVPE.MendHealthThreshold>Mend damage threshold: {0}</BetterAutocastVPE.MendHealthThreshold>
    <BetterAutocastVPE.MendHealthThreshold.Description>Maximum health for an item to be auto-targeted by "Mend"</BetterAutocastVPE.MendHealthThreshold.Description>
    <BetterAutocastVPE.MendPawns>Mend equipped gear</BetterAutocastVPE.MendPawns>
    <BetterAutocastVPE.MendInStockpile>Mend items in stockpiles</BetterAutocastVPE.MendInStockpile>
    <BetterAutocastVPE.MendInStorage>Mend items in storage (e.g. shelves)</BetterAutocastVPE.MendInStorage>
    <BetterAutocastVPE.EnchantInStockpile>Enchant items in stockpiles</BetterAutocastVPE.EnchantInStockpile>
    <BetterAutocastVPE.EnchantInStorage>Enchant items in storage (e.g. shelves)</BetterAutocastVPE.EnchantInStorage>
    <BetterAutocastVPE.CastDrafted>Cast while drafted</BetterAutocastVPE.CastDrafted>
    <BetterAutocastVPE.CastUndrafted>Cast while undrafted</BetterAutocastVPE.CastUndrafted>
    <BetterAutocastVPE.VPE_Mend.Explanation>When looking for items in stockpiles, will only look in zones containing the word "mend".\nFor example: `Mending`, `mend`, `The First Amendment`</BetterAutocastVPE.VPE_Mend.Explanation>
    <BetterAutocastVPE.VPE_EnchantQuality.Explanation>When looking for items in stockpiles, will only look in zones containing the word "enchant".\nFor example: `Enchanting`, `enchant`, `The Enchantress of Florence`</BetterAutocastVPE.VPE_EnchantQuality.Explanation>
    <!-- TODO
    <BetterAutocastVPE.VPE_AdrenalineRush.Explanation>No settings</BetterAutocastVPE.VPE_AdrenalineRush.Explanation>
    <BetterAutocastVPE.VPE_BladeFocus.Explanation>No settings</BetterAutocastVPE.VPE_BladeFocus.Explanation>
    <BetterAutocastVPE.VPE_ControlledFrenzy.Explanation>No settings</BetterAutocastVPE.VPE_ControlledFrenzy.Explanation>
    <BetterAutocastVPE.VPE_Darkvision.Explanation>No settings</BetterAutocastVPE.VPE_Darkvision.Explanation>
    <BetterAutocastVPE.VPE_Eclipse.Explanation>No settings</BetterAutocastVPE.VPE_Eclipse.Explanation>
    <BetterAutocastVPE.VPE_FiringFocus.Explanation>No settings</BetterAutocastVPE.VPE_FiringFocus.Explanation>
    <BetterAutocastVPE.VPE_GuidedShot.Explanation>No settings</BetterAutocastVPE.VPE_GuidedShot.Explanation>
    <BetterAutocastVPE.VPE_PsychicGuidance.Explanation>No settings</BetterAutocastVPE.VPE_PsychicGuidance.Explanation>
    <BetterAutocastVPE.VPE_SpeedBoost.Explanation>No settings</BetterAutocastVPE.VPE_SpeedBoost.Explanation>
    <BetterAutocastVPE.VPE_StealVitality.Explanation>No settings</BetterAutocastVPE.VPE_StealVitality.Explanation>
    <BetterAutocastVPE.VPE_WordofJoy.Explanation>No settings</BetterAutocastVPE.VPE_WordofJoy.Explanation>
    <BetterAutocastVPE.VPE_WordofProductivity.Explanation>No settings</BetterAutocastVPE.VPE_WordofProductivity.Explanation>
    <BetterAutocastVPE.VPE_WordofSerenity.Explanation>No settings</BetterAutocastVPE.VPE_WordofSerenity.Explanation>
    <BetterAutocastVPE.VPEP_BrainLeech.Explanation>No settings</BetterAutocastVPE.VPEP_BrainLeech.Explanation> -->
</LanguageData>