<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <BetterAutocastVPE.AutocastIntervalDrafted.Description>Autocasting interval while drafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalDrafted.Description>
  <BetterAutocastVPE.AutocastIntervalDrafted>Drafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalDrafted>
  <BetterAutocastVPE.AutocastIntervalUndrafted.Description>Autocasting interval while undrafted (only applies to patched psycasts)</BetterAutocastVPE.AutocastIntervalUndrafted.Description>
  <BetterAutocastVPE.AutocastIntervalUndrafted>Undrafted autocasting interval: {0} ticks</BetterAutocastVPE.AutocastIntervalUndrafted>
  <BetterAutocastVPE.BlockedJobs.defNameExplanation>The defName of the JobDef</BetterAutocastVPE.BlockedJobs.defNameExplanation>
  <BetterAutocastVPE.BlockedJobs.DisableAll.Confirmation>&lt;b&gt;Really uncheck all checkboxes?&lt;/b&gt;</BetterAutocastVPE.BlockedJobs.DisableAll.Confirmation>
  <BetterAutocastVPE.BlockedJobs.DisableAll>Uncheck all checkboxes</BetterAutocastVPE.BlockedJobs.DisableAll>
  <BetterAutocastVPE.BlockedJobs.EnableAll.Confirmation>&lt;b&gt;Really check all checkboxes?&lt;/b&gt;</BetterAutocastVPE.BlockedJobs.EnableAll.Confirmation>
  <BetterAutocastVPE.BlockedJobs.EnableAll>Check all checkboxes</BetterAutocastVPE.BlockedJobs.EnableAll>
  <BetterAutocastVPE.BlockedJobs.Explanation>Manage which jobs should not be interrupted for autocasting.</BetterAutocastVPE.BlockedJobs.Explanation>
  <BetterAutocastVPE.BlockedJobs.Manager.Explanation>A list of all JobDefs and a toggle on if it should <![CDATA[<b><i>not</i></b>]]> be interrupted for autocasting.</BetterAutocastVPE.BlockedJobs.Manager.Explanation>
  <BetterAutocastVPE.BlockedJobs.Nonexistent.Explanation>JobDefs that don't exist but are still configured.\nBecause they are from uninstalled mods, removed by updates, etc.\nThey can be kept without problem or cleaned up here.</BetterAutocastVPE.BlockedJobs.Nonexistent.Explanation>
  <BetterAutocastVPE.BlockedJobs.reportStringExplanation>The reportString of the JobDef</BetterAutocastVPE.BlockedJobs.reportStringExplanation>
  <BetterAutocastVPE.BlockedJobs>Blocked Jobs</BetterAutocastVPE.BlockedJobs>
  <BetterAutocastVPE.CastDrafted>Cast while drafted</BetterAutocastVPE.CastDrafted>
  <BetterAutocastVPE.CastUndrafted>Cast while undrafted</BetterAutocastVPE.CastUndrafted>
  <BetterAutocastVPE.Clarification>"In range" below considers allowed areas when undrafted, but ignores them when drafted.\n\nForbidden targets are ignored unless drafted.\nThis includes checking if they are in allowed areas, or reserved by a pawn.\n\nAll psycasts check if the target is valid by the regular rules before casting.</BetterAutocastVPE.Clarification>
  <BetterAutocastVPE.DebugLog>Log messages for debugging autocasting.</BetterAutocastVPE.DebugLog>
  <BetterAutocastVPE.IgnoredMentalStates.defNameExplanation>The defName of the MentalStateDefs</BetterAutocastVPE.IgnoredMentalStates.defNameExplanation>
  <BetterAutocastVPE.IgnoredMentalStates.Explanation>Manage which mental states should <![CDATA[<b><i>not</i></b>]]> be targeted by pawns autocasting Word of Serenity.</BetterAutocastVPE.IgnoredMentalStates.Explanation>
  <BetterAutocastVPE.IgnoredMentalStates.labelExplanation>The label of the MentalStateDefs</BetterAutocastVPE.IgnoredMentalStates.labelExplanation>
  <BetterAutocastVPE.IgnoredMentalStates.Manager.Explanation>A list of all MentalStateDefs and a toggle on if they should <![CDATA[<b><i>not</i></b>]]> be targeted by pawns autocasting by Word of Serenity.</BetterAutocastVPE.IgnoredMentalStates.Manager.Explanation>
  <BetterAutocastVPE.IgnoredMentalStates.Nonexistent.Explanation>MentalStateDefs that don't exist but are still configured.\nBecause they are from uninstalled mods, removed by updates, etc.\nThey can be kept without problem or cleaned up here.</BetterAutocastVPE.IgnoredMentalStates.Nonexistent.Explanation>
  <BetterAutocastVPE.IgnoredMentalStates>Ignored mental states</BetterAutocastVPE.IgnoredMentalStates>
  <BetterAutocastVPE.MinFocusThreshold.Description>Minimum psyfocus amount for a colonist to autocast</BetterAutocastVPE.MinFocusThreshold.Description>
  <BetterAutocastVPE.MinFocusThreshold>Minimum psyfocus threshold: {0}</BetterAutocastVPE.MinFocusThreshold>
  <BetterAutocastVPE.NoNonexistentDefs>&lt;b&gt;No nonexistent defs configured, nothing to do here.&lt;/b&gt;</BetterAutocastVPE.NoNonexistentDefs>
  <BetterAutocastVPE.ResetSettings.Confirmation>&lt;b&gt;Really reset settings?&lt;/b&gt;</BetterAutocastVPE.ResetSettings.Confirmation>
  <BetterAutocastVPE.ResetSettings>Reset settings</BetterAutocastVPE.ResetSettings>
  <BetterAutocastVPE.SettingsCategory>Better Autocasting for VPE</BetterAutocastVPE.SettingsCategory>
  <BetterAutocastVPE.ShowValidationMessages>Show target validation messages - used for debugging</BetterAutocastVPE.ShowValidationMessages>
  <BetterAutocastVPE.TargetColonists>Target colonists</BetterAutocastVPE.TargetColonists>
  <BetterAutocastVPE.TargetColonyAnimals>Target colony animals</BetterAutocastVPE.TargetColonyAnimals>
  <BetterAutocastVPE.TargetEnemies>Target enemies</BetterAutocastVPE.TargetEnemies>
  <BetterAutocastVPE.TargetPrisoners>Target prisoners</BetterAutocastVPE.TargetPrisoners>
  <BetterAutocastVPE.TargetSelf>Target self</BetterAutocastVPE.TargetSelf>
  <BetterAutocastVPE.TargetSlaves>Target slaves</BetterAutocastVPE.TargetSlaves>
  <BetterAutocastVPE.TargetVisitors>Target visitors</BetterAutocastVPE.TargetVisitors>
  <BetterAutocastVPE.TargetWildAnimals>Target wild animals</BetterAutocastVPE.TargetWildAnimals>
  <BetterAutocastVPE.Uninstall.Confirmation>Are you sure you want to uninstall the mod from the current game</BetterAutocastVPE.Uninstall.Confirmation>
  <BetterAutocastVPE.Uninstall.Disabled>Load a save to uninstall this mod from it</BetterAutocastVPE.Uninstall.Disabled>
  <BetterAutocastVPE.Uninstall.Explanation>Removes all elements of this mod from the currently loaded game so you can safely uninstall the mod.\nCreates a backup save both before and after the removal, then puts you in the main menu.\n\nAlso turns off autocasting for all patched psycasts. For technical reasons, this does not check if they can be autocast without the mod and may need to be re-enabled on reload.\n\nOnly works if you currently have a save loaded.</BetterAutocastVPE.Uninstall.Explanation>
  <BetterAutocastVPE.Uninstall>Uninstall the mod from the current game</BetterAutocastVPE.Uninstall>
</LanguageData>
